/* _content/DemoComponentUse/Demo/DemoChangedLinesUsage.razor.rz.scp.css */
[b-6u8v3bycd4] .background-plum {
    background-color: plum;
}

[b-6u8v3bycd4] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Demo/DemoStyleUsage.razor.rz.scp.css */
[b-awftzv04aa] .background-plum {
    background-color: plum;
}

[b-awftzv04aa] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Demo/DemoTypeaheadUsageInline.razor.rz.scp.css */
[b-a83v919lwx] .background-plum {
    background-color: plum;
}

[b-a83v919lwx] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Demo/DemoTypeaheadUsageSelector.razor.rz.scp.css */
[b-492pjh364v] .background-plum {
    background-color: plum;
}

[b-492pjh364v] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestCombinedGlobalAndOnLineMatch.razor.rz.scp.css */
[b-yo7grgok7s] .background-plum {
    background-color: plum;
}

[b-yo7grgok7s] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestHtmlTemplateStyled.razor.rz.scp.css */
[b-kue64vs8ga] .background-plum {
    background-color: plum;
}

[b-kue64vs8ga] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestSingleCharMatching.razor.rz.scp.css */
[b-l21ydg131g] .background-plum {
    background-color: plum;
}

[b-l21ydg131g] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestStartOfLineMatching.razor.rz.scp.css */
[b-icmxkfagwd] .background-plum {
    background-color: plum;
}

[b-icmxkfagwd] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestTextOfSameCharMatchingWhenSequentialText.razor.rz.scp.css */
[b-dnwv1dc9as] .background-plum {
    background-color: plum;
}

[b-dnwv1dc9as] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestTextSelection.razor.rz.scp.css */
[b-8kvvoljwxo] .background-plum {
    background-color: plum;
}

[b-8kvvoljwxo] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestTextToCaret.razor.rz.scp.css */
[b-ir8h302ean] .background-plum {
    background-color: plum;
}

[b-ir8h302ean] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
/* _content/DemoComponentUse/Tests/TestWholeLineMatch.razor.rz.scp.css */
[b-vcalwdl6xq] .background-plum {
    background-color: plum;
}

[b-vcalwdl6xq] .code {
    background-color: #f2f2f2;
    outline: 1px solid #d9d9d9;
    color: indianred;
}
